
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    padding:2% 0;
    display:flex;
    flex-direction:column;
    justify-content:flex-start;
    align-items:center;
    width: 100vw;
    height: 100vh;
    background-image: url('images/met-bg1.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    text-align:center;
}
header{
    height:15vh;
    width:100%;
    display:flex;
    justify-content: center;
    align-items:center;
}
h1{
    text-align:center;
    font-family: "Updock";
    font-size: 5em;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
    background:linear-gradient(rgba(163, 2, 11,0.9),rgba(255, 56, 26,0.9));
    padding: 0.2em;
    width: 100%;
    height: 100%;
    border-top: 0.5px solid #FFD096;
    border-bottom: 0.5px solid #FFD096;
    color:white;
}

button{
    position: absolute;
    top:45%; 
    font-family: "Updock";
    font-size: 3em;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
    background:linear-gradient(rgb(255, 56, 26), rgb(163, 2, 11),rgb(255, 56, 26));
    padding: 0.2em 1em;
    border-radius: 30px;
    margin: 5%;
}
main{
    width:100%;
    height:100vh;
    display:flex;
    flex-direction:row;
    justify-content: center;
    align-items:center;
}
section{
    margin: 1%;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
article{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
}
.department{
    display:flex;
    justify-content:center;
    align-items:center;
    width:15em;
    height: 3em;
    background:linear-gradient(rgba(163, 2, 11,0.9),rgba(255, 56, 26,0.9));
    border-radius:20px;
    padding:1em;
    font-size: 1em;
    text-align:center;
}
.description{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: flex-start;
    text-align: center;
    font-size: 1.5em;
    background: silver;
    width:450px;
    padding: 0.5em;
    margin:0.5em;
    border: 0.75em solid black;
    box-shadow: inset 0 0 20px 5px rgba(0,0,0,0.6);
}
.frame{
    border-image: url('images/frame.png');
    border-style:inset;
    border-width: 30px;
    border-image-slice: 15%;
    border-image-outset: 5px;
    border-image-width: 30px;
    border-image-repeat:stretch;
    box-shadow: inset 0 0 20px 10px rgba(0,0,0,0.6);
    max-width: 50vw;
    max-height: 60vh;
}
.frame img{
    max-width: 45vw;
    max-height: 53vh;
}
.left, .right{
    background: rgba(255,255,255,0.3);
    border: 1px solid rgba(255,255,255,0.3);
    border-radius: 50%;
    font-size: 4em;
    font-weight: bold;
    box-shadow: 0.2em 0.2em 0.2em rgba(0,0,0,0.1);
    color:rgba(0,0,0,0.3);
    width: 1.5em;
    height: 1.5em;
    padding:0.2em;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

@media all and (max-width:800px){
    h1{
        font-size: calc(4vh + 1em);
        padding-top: 3vh;
    }
    button{
        font-size: calc(2vh + 1em);
    }

    .frame{
        /* margin: 1em; */
        max-width:74vw;
        text-align: center;
    }
    .frame img{
        max-width: 59vw;
    }
    .description{
        width: 75vw;
        font-size: calc(1vh + 1em);
    }
    .left,.right{
        font-size: 2em;
        width: 2em;
        height: 2em;
        padding:0.4em;
    }
    .description{
        width: 70vw;
        font-size: 1em;
    }
}